:root{
    --pink:rgba(0, 128, 0, 0.776);

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;left: 0;right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}
header .logo{
font-size: 3rem;
color: #333;
font-weight: bolder;
}
header .logo span{
color: var(--pink);
}
header .navbar a{
font-size: 2rem;
padding: 0 1.5rem;
color: #666;
}
header .navbar a:hover{
    color: var(--pink);
}

header .icons a{
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover{
    color: var(--pink);
}

header #toggler{
    display: none;


}


header .fa-bars{
    font-size: 3rem;
     color: #333;
     border-radius: .5rem;
     padding: .5rem 1.5rem;
     cursor: pointer;
     border: .1rem solid rgba(0,0,0,.3);
     display: none;
}
section{
    padding:2rem ;
}
.home{
    background-position: left;
}

.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background-image: url(./images/gift-box-with-flowers-green-background_185193-72157.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}
.home .content h3{
    font-size: 6rem;
    color: #333;
}
.home .content span{
    font-size: 3.5rem;
    color: var(--pink);
    padding: 1rem 0;
    line-height: 1.5;
}
.home .content span{
    font-size: 1.5rem;
    color: var(--pink);
     padding: 1rem 0;
    line-height: 1.5;
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
}
.btn:hover{
    background-color: var(--pink);
}

.home .content h3{
    font-size: 5rem;
}
.home .content span{
    font-size: 2.5rem;
}
#firstline{
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  padding-top: 30px;
   opacity: 0.8;
}
#firstline h3{
  text-transform: capitalize;

}
#second-line{
    font-size: 2.5rem;
    opacity: 0.6;

    display: flex;
    align-items: center;
    justify-content: center;
  padding-top: 30px;

}
#boxes img{
    height: 300px;
    width: 300px;

}
#boxes h4{
font-size: 1.9rem;
padding-left: 20px;
}
#boxes span{

}

#gridcotainer{
    display: grid;
    gap: 5px 5px;
    height: 50vh;
    width: 80vh;
    grid-template-areas:"hdr hdr hdr"
    "ab ab ab" 
    "ft ft";
}
#flex-container{
            background-color: rgb(176, 220, 14);
            height: 90vh;
            width: 100vw;
            display: flex;
            justify-content: center;
            align-items:center;
        }
       .items{
border: 2px solid black;
background-color: rgba(7, 173, 202, 0.817);
       }
       #grid-items1{
      grid-area: hdr;
       }
       #grid-items2{
      grid-area: ab;
       }
       #grid-items3{
      grid-area: ab;
       }
       #grid-items4{
        grid-area: ft;
       }
      #grid-items5{
       grid-area:ft ;
      }
      #grid-items6{
        grid-area:ft;
      }
     

/* media quires */
@media (max-width:991px) {
    html{
    font-size: 55%;
}
header{
    padding: 2rem;

}
section{
    padding: 2rem;

}
}

@media (max-width:768px) {
    header .fa-bars{
        display: block;
    }

    header .navbar{
        position: absolute;
        top: 100%;right: 0;left: 0;
        background-color: #eee;
        border-top:.1rem solid rgba(0,0,0,.1) ;
    }
     header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0,0,.1);
        display: block;
        clip-path: polygon(0 0, 100% 0, 100% 0,0 0);
     }
header #toggler:checked ~ .navbar {
clip-path: polygon(0 0, 100% 0, 100% 100%,0% 100%);
   }

}
@media (max-width:450px) {
    html{
    font-size: 50%;
}

}



